body {
  background-color: slategray;
}

.btn-outline-dark,
.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:visited {
  background-color: orange !important;
  font-weight: bold;
}

.mov-card1 {
  background-image: url(./img/Curtain-Hands.jpg);
  background-size: 350px 415px;
}

.mov-card2 {
  background-image: url(./img/Minions.jpg);
  background-size: 350px 415px;
}
